@page "/Anouncments"

<PageTitle>Announcements</PageTitle>

<h1>Announcements</h1>

<p>Announcements content will appear here.</p>

<TaskForge.Client.ClientComponents.Counter @rendermode="InteractiveWebAssembly" />
