.top-menu {
    position: relative;
    width: 100%;
    min-height: 6rem;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    margin-bottom: 2rem;
}

    /* HomeButton (component) output: <div class="home-button"> ... */
    .top-menu .home-button {
        display: flex;
        align-items: center;
    }

/* Title is *truly* centered in the bar */
.menu-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 2.2rem;
    font-weight: 1700 bold;
}

/* Right side (logo / future options) */
.top-menu-right {
    margin-left: auto; /* pushes it to the far right */
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

/* Right logo styling (can be similar to home-logo) */
.top-menu-logo {
    height: 45px;
    width: auto;
    cursor: pointer;
    transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

    .top-menu-logo:hover {
        transform: scale(1.05);
        opacity: 0.85;
    }

.ag-format-container {
    width: 90%;
    margin: 0 auto;
}

.ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 50px 0;
}

.ag-courses_item {
    flex-basis: calc(33.33333% - 30px);
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;
}

/* Make NavLink behave like your old <a> */
::deep .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    color: inherit;
}

    /* Optional: highlight active route */
    .ag-courses-item_link.active {
        color: #fff;
    }

    /* Remove default focus ring; keep accessible outline if you like */
    .ag-courses-item_link:focus {
        outline: none;
    }

    .ag-courses-item_link:hover,
    .ag-courses-item_link:hover .ag-courses-item_date {
        text-decoration: none;
        color: #FFF;
    }

        .ag-courses-item_link:hover .ag-courses-item_bg {
            -webkit-transform: scale(12);
            -ms-transform: scale(12);
            transform: scale(12);
        }

.ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
    z-index: 2;
    position: relative;
}

.ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;
    -webkit-transition: color 1s ease;
    -o-transition: color 1s ease;
    transition: color 1s ease;
}

.ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
}

.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
}

.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
}

.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
}

.ag-courses_item:nth-child(7n) .ag-courses-item_bg {
    background-color: #4b99ea;
}

.ag-courses_item:nth-child(8n) .ag-courses-item_bg {
    background-color: #4c19ea;
}

@media only screen and (max-width: 979px) {
    .ag-courses_item {
        flex-basis: calc(50% - 30px);
    }

    .ag-courses-item_title {
        font-size: 24px;
    }
}

@media only screen and (min-width: 400px) {
    .ag-format-container {
        width: 90%;
    }
}

/* fixed: was invalid "max-width: 100%" */
@media only screen and (max-width: 639px) {
    .ag-courses_item {
        flex-basis: 100%;
    }

    .ag-courses-item_title {
        min-height: 72px;
        line-height: 1;
        font-size: 24px;
    }

    .ag-courses-item_link {
        padding: 22px 40px;
    }

    .ag-courses-item_date-box {
        font-size: 16px;
    }
}
