@page "/"
@using TaskForge.Components.Layout
@layout MainMenuLayout

<PageTitle>Main Menu</PageTitle>

<div class="top-menu">
    <HomeButton />
    <h1 class="menu-title">TaskForge</h1>

    <div class="top-menu-right">
        <!-- Right logo now; later: user menu / settings / etc -->
        <img src="images/Logo.svg" alt="TaskForge" class="top-menu-logo" />
    </div>
</div>



<div class="ag-format-container">
    <div class="ag-courses_box">
        <div class="ag-courses_item">
            <NavLink href="/Anouncments" ActiveClass="ag-courses-item_link" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>

                <div class="ag-courses-item_title">
                   Anouncments
                </div>
            </NavLink>
        </div>

        <div class="ag-courses_item">
            <NavLink href="/MyTasks" ActiveClass="ag-courses-item_link" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>

                <div class="ag-courses-item_title">
                    My Tasks
                </div>
            </NavLink>
        </div>

        <div class="ag-courses_item">
            <NavLink href="/MyProject" ActiveClass="ag-courses-item_link" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>

                <div class="ag-courses-item_title">
                    My Project
                </div>
            </NavLink>
        </div>

        <div class="ag-courses_item">
            <NavLink href="/Statistics" ActiveClass="ag-courses-item_link" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>

                <div class="ag-courses-item_title">
                    Statistics
                </div>
            </NavLink>
        </div>

        <div class="ag-courses_item">
            <NavLink href="/AdminPanel" ActiveClass="ag-courses-item_link" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>

                <div class="ag-courses-item_title">
                    Admin Panel
                </div>
            </NavLink>
        </div>

        <div class="ag-courses_item">
            <NavLink href="/UserSetings" ActiveClass="ag-courses-item_link" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>

                <div class="ag-courses-item_title">
                    User Setings
                </div>
            </NavLink>
        </div>

    </div>
</div>

