@page "/Statistics"

<PageTitle>Statistics</PageTitle>

<h1>Statistics</h1>

<p>Statistics for manager and admin only.</p>

<TaskForge.Client.ClientComponents.Counter @rendermode="InteractiveWebAssembly" />
