@inherits LayoutComponentBase

<div class="page">
    <header class="main-header">
        <HomeButton @rendermode="@(new InteractiveWebAssemblyRenderMode(prerender: true))" />
        <NavMenu @rendermode="@(new InteractiveWebAssemblyRenderMode(prerender: true))" />
        <div class="Spliter">
            <SettingsButton @rendermode="@(new InteractiveWebAssemblyRenderMode(prerender: true))" />
            <ProfileButton @rendermode="@(new InteractiveWebAssemblyRenderMode(prerender: true))" />
        </div>
    </header>

    <main>
        <div class="content">
            @Body
        </div>
    </main>
    
    <Footer/>
</div>
