@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu @rendermode="InteractiveServer" />
    </div>

    <main>
         <div class="content">
            @Body
        </div>
    </main>
</div>


