@inherits LayoutComponentBase

<div class="page">
    <header class="main-header">
        <HomeButton @rendermode="@(new InteractiveWebAssemblyRenderMode(prerender: true))" />
        <TaskForge.Client.ClientComponents.NavMenu @rendermode="@(new InteractiveWebAssemblyRenderMode(prerender: true))" />
        <div class="Spliter">
            <HomeButton @rendermode="@(new InteractiveWebAssemblyRenderMode(prerender: true))" />
            <HomeButton @rendermode="@(new InteractiveWebAssemblyRenderMode(prerender: true))" />
        </div>
    </header>


    <main>
        <div class="content">
            @Body
        </div>
    </main>
    <Footer/>
</div>



@code {
    private static bool IsBrowser => OperatingSystem.IsBrowser();
}

@if (!IsBrowser)
{
    <div class="nav-loading">...</div>
}
else
{
    <TaskForge.Client.ClientComponents.NavMenu @rendermode="InteractiveWebAssembly" />
}
