<div class="tf-nav">
    <div class="menu-wrapper">
        <input type="checkbox" id="menuToggle" hidden>
        <label for="menuToggle" class="menu-toggle">☰</label>

        <nav class="menu">
            <NavLink href="" Match="NavLinkMatch.All" class="menu-item">Main Menu</NavLink>
            <NavLink href="AdminPanel" Match="NavLinkMatch.All" class="menu-item">Admin Panel</NavLink>
            <NavLink href="Anouncments" class="menu-item">Anouncments</NavLink>
            <NavLink href="MyProject" class="menu-item">My Project</NavLink>
            <NavLink href="MyTasks" class="menu-item">My Tasks</NavLink>
            <NavLink href="Statistics" class="menu-item">Statistics</NavLink>
            <NavLink href="UserSetings" class="menu-item">User Setings</NavLink>
        </nav>
    </div>
</div>
